@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import "tailwindcss";

* {
  font-family: sans-serif;
}

h1,
h2 {
  font-family: "Acme", sans-serif;
}

#titleblock {
  height: 40vh;
  background-color: rgb(136, 180, 205);
  position: relative;
  align-content: center;
  /* WHYYY does text-align control horizontal. ok whatever man */
  text-align: center;
}

@media screen and (min-width: 1281px) {
  #cardsmissionstatement {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1280px) {
  #titleblock {
    height: 30vh;
  }
}

@media screen and (max-width: 700px) {
  #titleblock {
    height: 20vh;
  }
}

#cards {
  display: grid;
  place-items: center;
  text-align: left;
  width: 70%;
  margin-left: 10%;
}

.card {
  border-bottom: 1px solid black;
}

#missionstatement {
  display: grid;
  width: 80%;
  margin-left: 10%;
  place-items: center;
  text-align: center;
}

#missionstatement img {
  width: 50%;
}

/*truthfully i have no idea why this is needed but if i made text-align left above then the image would be off center which i think is cringe*/
#missionstatement h3,
#missionstatement h1 {
  text-align: left;
}

footer {
  text-align: center;
}

nav {
  background-color: aquamarine;
  display: flex;
  /*this is how you make it centered vertically*/
  align-items: center;
  flex-wrap: wrap-reverse;
  height: 100px;
}

#navbuttons {
  display: flex;
  align-items: center; /* vertical */
  justify-content: space-around; /* horizontal */
  margin-left: 10px;
  width: 35vw;
}

button {
  border: none;
  background-color: transparent;
}

.navbutton {
  color: black;
  text-decoration: none;
}

.navbutton:hover {
  color: grey;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

.cardtext {
  line-height: 1.5;
}

.cardsheader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.cardsheader a {
  text-align: right;
}

a {
  color: blue;
}
